@import '../style/base';

.news-page-container {
  background-color: $color-white;

  .news-body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @apply sm:px-6;
    @apply lg:px-8;
    .news {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      @apply sm:px-0;

      h2 {
        padding-top: 2rem;
      }
      img {
        margin: auto;
      }
    }

    .pagination-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;

      ul.pagination {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 60%;
        cursor: pointer;
        li {
          display: inline;
          a {
            outline: none;
            background-color: black;
            padding: 10px;
            border: 1px solid black;
            border-radius: 1rem;
            @apply text-white;
            @apply px-3;
            @apply py-2;
            @apply text-sm;
            @apply font-medium;

            &:hover {
              @apply bg-gray-700;
              @apply text-white;
            }
            &.active {
              @apply bg-gray-900;
              font-weight: bolder;
            }
            &:focus {
              text-decoration: none;
            }
          }

          &.pagination__link {
            font-weight: bold;
          }

          &.pagination__link--active a {
            color: #fff;
            background: #3f414b;
            font-size: 1rem;
          }

          &.pagination__link--disabled a {
            color: #c6c5ca;
            border: 1px solid rgb(121, 121, 121);
          }
        }
      }
    }
  }
}
