.progressBar {
  height: 100%;
  margin-left: 0.5rem;
  width: 0.3rem;
  background-color: #969a9e;

  .bar {
    text-align: right;
    padding: 0;
    height: 0;
    background-color: #1a1b1c;

    &.active {
      height: 100%;
    }
    &.notransition {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
  }
}

.progressBar,
.bar {
  border-radius: 1rem;
}
