.navbar {
  .profile-menu-hover {
    opacity: 0;
    transition: ease-out 0.5s;
    &.focus {
      opacity: 100;
      display: block;
    }

    a {
      color: black;
      &:hover {
        @apply bg-gray-100;
        @apply text-black;
      }
    }
  }

  a {
    @apply text-gray-300;
    @apply px-3;
    @apply py-2;
    @apply rounded-md;
    @apply text-sm;
    @apply font-medium;

    &:hover {
      @apply bg-gray-700;
      @apply text-white;
    }
  }

  .navbar-mobile {
    a {
      @apply block;
      @apply text-base;
    }
  }
}
