.time-cell {
  .content-left,
  .content-right {
    width: 49%;
    .content-title {
      display: flex;
      flex-direction: column;
      @apply sm:flex-row;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      line-height: 1.5rem;

      h1 {
        text-align: left;
        font-weight: 800;
      }
      p {
        text-align: left;
        @apply sm:text-right;
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }
    }
    p {
      font-size: 1rem;
    }
  }

  .content-right {
    .content-title {
      @apply sm:flex-row-reverse;
      p {
        @apply sm:text-right;
      }
    }
    p {
      @apply sm:text-right;
    }
  }
  .timeline-cell {
    height: 10rem;
    width: 2rem;

    .top-triangle {
      width: 0;
      height: 0;
      border-left: 0.75rem solid transparent;
      border-right: 0.75rem solid transparent;
      border-bottom: 2rem solid black;
      margin-left: auto;
      margin-right: auto;
    }

    .timeline-body {
      height: 100%;
      width: 0.75rem;
      margin-left: auto;
      margin-right: auto;
      &.last-time {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}
