@import '../../style/base';

.navbar {
  background-color: $nav-footer-background;
  .brand-nav {
    img {
      float: left;
    }
    span {
      font-weight: 500;
      font-size: 1.5rem;
      @apply sm:text-base;
    }
  }
  .profile-menu-hover {
    opacity: 0;
    transition: ease-out 0.5s;
    &.focus {
      opacity: 100;
      display: block;
    }

    a {
      color: $color-black;
      &:hover {
        @apply bg-gray-100;
        @apply text-black;
      }
    }
  }

  .links {
    a {
      border-radius: 1rem;
      color: $color-white;
      @apply px-3;
      @apply py-2;
      @apply text-sm;
      @apply font-medium;

      &:hover {
        @apply bg-gray-700;
        @apply text-white;
      }
      &.active {
        @apply bg-gray-900;
        font-weight: bolder;
      }
    }
  }

  .navbar-mobile {
    a {
      @apply block;
      @apply text-base;
      @apply text-gray-300;
      @apply px-3;
      @apply py-2;
      @apply rounded-md;
      @apply text-sm;
      @apply font-medium;

      &:hover {
        @apply bg-gray-700;
        @apply text-white;
      }
      &.active {
        @apply bg-gray-900;
        font-weight: bolder;
      }
    }
  }
}
