@import '../../style/base';

.slideshow-card {
  @apply m-4;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.25rem;
  .slideup,
  .slidedown {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
  .slidedown {
    max-height: 60px;
  }
  h1 {
    font-weight: 800;
    font-size: 2rem;
    @apply sm:text-left;
  }

  &.alone {
    @apply sm:w-full;
  }
  &.with-media {
    @apply sm:w-4/12;
  }
}
