$font-stack: Helvetica, sans-serif;

// title font-size
$h1-font-size: 1rem;
$h2-font-size: 0.5rem;

//color
$color-black: #000000;
$color-mine-shaft: #222222;
$color-white: #ffffff;
$color-boulder: #b8b8b8;
$gray-white: #d1d1d1;

$nav-footer-background: #1f2937;

// Margin main container
