@import '../../style/base';

.subsection {
  cursor: pointer;

  .card-content {
    .content {
      margin: 0.75rem;
    }
  }

  .slideup,
  .slidedown {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
  .slidedown {
    max-height: 15rem;
  }

  @apply sm:text-justify;
  @apply my-4;

  h2 {
    font-weight: bolder;
  }
}
