@import '../../style/base';

.slideshow-card {
  @apply m-4;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;

  h1 {
    font-weight: 800;
    font-size: 2rem;
    @apply sm:text-left;
  }

  &.alone {
    @apply sm:w-full;
  }

  &.with-media {
    @apply sm:w-1/2;
  }
}
